<div class="game-title" *ngIf="showMenu">
    <h1>MUSIC GUESSER</h1>
    <div class="menu">
      <button id="play" class="secondary-font" routerLink="/play" [queryParams]="{ lang: language, vol: volume }" queryParamsHandling="merge">{{playTxt}}</button>
      <button id="info" class="secondary-font" routerLink="/info" [queryParams]="{ lang: language, vol: volume }" queryParamsHandling="merge">{{infoTxt}}</button>
      <button id="config" class="secondary-font" routerLink="/config" [queryParams]="{ lang: language, vol: volume }" queryParamsHandling="merge">{{configTxt}}</button>
    </div> 
    <audio id="audio" src="assets/menu-music.wav" autoplay loop [volume]="volume / 100">
      Your browser does not support the <code>audio</code> element.
    </audio>   
</div>